[Desktop Entry]
Icon=text-x-patch
Name=0006-add-revision-function.patch
Type=Link
URL[$e]=file:///home/robert/New_Development/Renux_stable_kernel/patches/beagle/LI-5M03/0006-add-revision-function.patch
X-KDE-LastOpenedWith=kate
