[Desktop Entry]
Icon=text-x-csrc
Name=board-omap3beagle-camera.c
Type=Link
URL[$e]=file://$HOME/MT9P031/board-omap3beagle-camera.c
X-KDE-LastOpenedWith=kate
