[Desktop Entry]
Icon=text-x-patch
Name=board-omap3beagle.c.patch
Type=Link
URL[$e]=file://$HOME/patches/board-omap3beagle.c.patch
X-KDE-LastOpenedWith=kate
