[Desktop Entry]
Icon=text-x-patch
Name=v4l2-chip-ident.h.patch
Type=Link
URL[$e]=file://$HOME/patches/v4l2-chip-ident.h.patch
X-KDE-LastOpenedWith=kate
